{
  "name": "frontend",
  "version": "0.1.0",
  "private": true,
  "packageManager": "__PM_VERSION__",
  "workspaces": [
    "apps/*"
  ],
  "scripts": __SCRIPTS__,
  "devDependencies": __TURBO_DEVDEP__
}
